<h1>CN Workload</h1>
<%= @user.role %>, <%= current_user.email %>, <%= @user.admin? %>, <%= current_user.id %>,
<p id="notice"><%= notice %></p>

<% if @cn_new != nil and @cn_new.count > 0 %>
    <h1>CN Needs Submission</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_new.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @cn_clearance_pending != nil and @cn_clearance_pending.count > 0 %>
    <h1>CN Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_clearance_pending.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @cn_congress_pending != nil and @cn_congress_pending.count > 0 %>
    <h1>CN Congressional Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_congress_pending.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @cn_hold != nil and @cn_hold.count > 0 %>
    <h1>CN On Hold</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_hold.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>