<ol class="breadcrumb">
  <li>Workload</li>
  <li class="active">Summary</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Projects
        <div class="pull-right">
          <button type="button" class="btn btn-primary  btn-xs" data-toggle="modal" data-target="#addModal"><i class="icon-plus-sign icon-white"></i> New Proposal</button>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">This page displays all proposals currently in PAMS that are relevant to you.
              Proposals at different steps in the process are grouped under descriptive headings.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Congressional Notifications
        <div class="pull-right">
          <button type="button" class="btn btn-primary  btn-xs" data-toggle="modal" data-target="#addModal"><i class="icon-plus-sign icon-white"></i> New Proposal</button>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">This page displays all proposals currently in PAMS that are relevant to you.
              Proposals at different steps in the process are grouped under descriptive headings.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Funding Clearances
        <div class="pull-right">
          <button type="button" class="btn btn-primary  btn-xs" data-toggle="modal" data-target="#addModal"><i class="icon-plus-sign icon-white"></i> New Proposal</button>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">This page displays all proposals currently in PAMS that are relevant to you.
              Proposals at different steps in the process are grouped under descriptive headings.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Workload</h1>
<%= @user.role %>, <%= current_user.email %>, <%= @user.admin? %>, <%= current_user.id %>,
<p id="notice"><%= notice %></p>



<% if @proposal_in_progress != nil and @proposal_in_progress.count > 0 %>
    <h1>Proposal in Progress</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @proposal_in_progress.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>


<% if @preliminary_program_review != nil and @preliminary_program_review.count > 0 %>
    <h1>Preliminary Program Review</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @preliminary_program_review.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @pre_legal_review != nil and @pre_legal_review.count > 0 %>
    <h1>Pre-Legal Review</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @pre_legal_review.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @regional_review != nil and @regional_review.count > 0 %>
    <h1>Regional Review</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @regional_review.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @secondary_program_review != nil and @secondary_program_review.count > 0 %>
    <h1>Secondary Program Review</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @secondary_program_review.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @project_cn_pending != nil and @project_cn_pending.count > 0 %>
    <h1>CN Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @project_cn_pending.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>


<% if @project_funding_clearance_pending != nil and @project_funding_clearance_pending.count > 0 %>
    <h1>Funding Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @project_funding_clearance_pending.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @obligation_pending != nil and @obligation_pending.count > 0 %>
    <h1>Obligation Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @obligation_pending.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.program_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<%= link_to 'New Project', new_project_path %>

<h1>CN Workload</h1>
<%= current_user.role %>, <%= current_user.email %>, <%= current_user.admin? %>, <%= current_user.id %>,
<p id="notice"><%= notice %></p>

<% if @cn_new != nil and @cn_new.count > 0 %>
    <h1>CN Needs Submission</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_new.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @cn_clearance_pending != nil and @cn_clearance_pending.count > 0 %>
    <h1>CN Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_clearance_pending.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @cn_congress_pending != nil and @cn_congress_pending.count > 0 %>
    <h1>CN Congressional Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_congress_pending.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @cn_hold != nil and @cn_hold.count > 0 %>
    <h1>CN On Hold</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>CN Number</th>
      </tr>
      </thead>

      <tbody>
      <% @cn_hold.each do |cn| %>
          <tr>
            <td><%= link_to cn.name, cn %></td>
            <td><%= cn.cn_number %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>


<% if @funding_confirmation_pending != nil and @funding_confirmation_pending.count > 0 %>
    <h1>Funding Confirmation Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Project Name</th>
        <th>Funding Mechanism</th>
      </tr>
      </thead>

      <tbody>
      <% @funding_confirmation_pending.each do |pfm| %>
          <tr>
            <td><%= pfm.project.try(:name) %></td>
            <td><%= pfm.funding_mechanism.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @funding_clearance_pending != nil and @funding_clearance_pending.count > 0  %>
    <h1>Funding Clearance Pending</h1>

    <table>
      <thead>
      <tr>
        <th>Project Name</th>
        <th>Funding Mechanism</th>
      </tr>
      </thead>

      <tbody>
      <% @funding_clearance_pending.each do |pfm| %>
          <tr>
            <td><%= pfm.project.try(:name) %></td>
            <td><%= pfm.funding_mechanism.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

<% if @funding_hold != nil and @funding_hold.count > 0 %>
    <h1>Funding On Hold</h1>

    <table>
      <thead>
      <tr>
        <th>Project Name</th>
        <th>Funding Mechanism</th>
      </tr>
      </thead>

      <tbody>
      <% @funding_hold.each do |pfm| %>
          <tr>
            <td><%= pfm.project.try(:name) %></td>
            <td><%= pfm.funding_mechanism.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>


<% if @my_projects != nil and @my_projects.count > 0 %>
    <h1>My Projects</h1>


    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Budget requested</th>
        <th>Fiscal year</th>
        <th>Implementation Status</th>
        <th>Program</th>
      </tr>
      </thead>

      <tbody>
      <% @my_projects.each do |project| %>
          <tr>
            <td><%= link_to project.id, project %> - <%= link_to project.name, project %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.budget_requested %></td>
            <td><%= project.fiscal_year %></td>
            <td><%= project.implementation_status %></td>
            <td><%= project.current_state.to_s.titleize %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
<% end %>

