<ol class="breadcrumb">
  <li>Workload</li>
  <li class="active">Summary</li>
</ol>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Projects
        <div class="pull-right">
          <%= link_to 'New Proposal', new_project_path, class: 'btn btn-primary  btn-xs' %>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <% if @draft_projects != nil and @draft_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingproposalinprogress">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapseproposalinprogress"  aria-expanded="false" aria-controls="collapseproposalinprogress">
                          Proposal in Progress - <%= @draft_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseproposalinprogress" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingproposalinprogress">
                        <div class="panel-body">
                          <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Start date</th>
                              <th>End date</th>
                              <th>Budget requested</th>
                              <th>Fiscal year</th>
                            </tr>
                            </thead>

                            <tbody>
                            <% @draft_projects.each do |project| %>
                                <tr>
                                  <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                  <td><%= link_to project.name, project %></td>
                                  <td><%= project.start_date %></td>
                                  <td><%= project.end_date %></td>
                                  <td><%= number_to_currency(project.budget_requested) %></td>
                                  <td><%= project.fiscal_year %></td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
              <% end %>
              <% if @regional_review_projects != nil and @regional_review_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingregionalreview">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapseregionalreview"  aria-expanded="false" aria-controls="collapseregionalreview">
                          Regional Review - <%= @regional_review_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseregionalreview" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingregionalreview">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @regional_review_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @preliminary_review_projects != nil and @preliminary_review_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingpreliminaryprogramreview">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsepreliminaryprogramreview"  aria-expanded="false" aria-controls="collapsepreliminaryprogramreview">
                          Preliminary Program Review - <%= @preliminary_review_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsepreliminaryprogramreview" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingpreliminaryprogramreview">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @preliminary_review_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @pre_legal_review_projects != nil and @pre_legal_review_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingprelegalreview">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapseprelegalreview"  aria-expanded="false" aria-controls="collapseprelegalreview">
                          Pre-Legal Review - <%= @pre_legal_review_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseprelegalreview" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingprelegalreview">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @pre_legal_review_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>

              <% if @secondary_review_projects != nil and @secondary_review_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingsecondaryprogramreview">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsesecondaryprogramreview"  aria-expanded="false" aria-controls="collapsesecondaryprogramreview">
                          Secondary Program Review - <%= @secondary_review_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsesecondaryprogramreview" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsecondaryprogramreview">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @secondary_review_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @cn_clearance_projects != nil and @cn_clearance_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingprojectcnpending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapseprojectcnpending"  aria-expanded="false" aria-controls="collapseprojectcnpending">
                          CN Clearance Pending - <%= @cn_clearance_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseprojectcnpending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingprojectcnpending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @cn_clearance_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @funding_clearance_projects != nil and @funding_clearance_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingprojectfundingpending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapseprojectfundingpending"  aria-expanded="false" aria-controls="collapseprojectfundingpending">
                          Funding Clearance Pending - <%= @funding_clearance_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseprojectfundingpending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingprojectfundingpending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @funding_clearance_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @obligation_projects != nil and @obligation_projects.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingobligationpending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapseobligationpending"  aria-expanded="false" aria-controls="collapseobligationpending">
                          Obligation Pending - <%= @obligation_projects.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseobligationpending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingobligationpending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Budget requested</th>
                            <th>Fiscal year</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @obligation_projects.each do |project| %>
                              <tr>
                                <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                                <td><%= link_to project.name, project %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.end_date %></td>
                                <td><%= number_to_currency(project.budget_requested) %></td>
                                <td><%= project.fiscal_year %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Congressional Notifications
        <div class="pull-right">
          <%= link_to 'New CN', new_congressional_notification_path, class: 'btn btn-primary  btn-xs' %>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel-group" id="cnaccordion" role="tablist" aria-multiselectable="true">
              <% if @new_cns != nil and @new_cns.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingnewcn">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsenewcn"  aria-expanded="false" aria-controls="collapsenewcn">
                          New - <%= @new_cns.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsenewcn" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnewcn">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>Name</th>
                            <th>CN Number</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @new_cns.each do |cn| %>
                              <tr>
                                <td><%= link_to cn.name, cn %></td>
                                <td><%= cn.cn_number %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @internal_clearance_cns != nil and @internal_clearance_cns.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingcnclearancepending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsecnclearancepending"  aria-expanded="false" aria-controls="collapsecnclearancepending">
                          Clearance Pending - <%= @internal_clearance_cns.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsecnclearancepending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcnclearancepending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>Name</th>
                            <th>CN Number</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @internal_clearance_cns.each do |cn| %>
                              <tr>
                                <td><%= link_to cn.name, cn %></td>
                                <td><%= cn.cn_number %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @congressional_clearance_cns != nil and @congressional_clearance_cns.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingcncongresspending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsecncongresspending"  aria-expanded="false" aria-controls="collapsecncongresspending">
                          Congressional Clearance Pending - <%= @congressional_clearance_cns.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsecncongresspending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingcncongresspending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>Name</th>
                            <th>CN Number</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @congressional_clearance_cns.each do |cn| %>
                              <tr>
                                <td><%= link_to cn.name, cn %></td>
                                <td><%= cn.cn_number %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-tasks fa-fw"></i> Funding Clearances
        <div class="pull-right">
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel-group" id="fundingaccordion" role="tablist" aria-multiselectable="true">
              <% if @funding_confirmation != nil and @funding_confirmation.count > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfundingconfirmationpending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsefundingconfirmationpending"  aria-expanded="false" aria-controls="collapsefundingconfirmationpending">
                          Funding Confirmation Pending - <%= @funding_confirmation.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsefundingconfirmationpending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfundingconfirmationpending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>Project Name</th>
                            <th>Funding Mechanism</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @funding_confirmation.each do |pfm| %>
                              <tr>
                                <td><%= pfm.project.try(:name) %></td>
                                <td><%= pfm.funding_mechanism.name %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
              <% if @funding_clearance != nil and @funding_clearance.count > 0  %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfundingclearancepending">
                      <h4 class="panel-title">
                        <a class="collapsed handpointer" data-toggle="collapse" data-target="#collapsefundingclearancepending"  aria-expanded="false" aria-controls="collapsefundingclearancepending">
                          Funding Clearance Pending - <%= @funding_clearance.count %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapsefundingclearancepending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfundingclearancepending">
                      <div class="panel-body">
                        <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <th>Project Name</th>
                            <th>Funding Mechanism</th>
                          </tr>
                          </thead>

                          <tbody>
                          <% @funding_clearance.each do |pfm| %>
                              <tr>
                                <td><%= pfm.project.try(:name) %></td>
                                <td><%= pfm.funding_mechanism.name %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<% if @my_projects != nil and @my_projects.count > 0 %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-tasks fa-fw"></i> My Projects
            <div class="pull-right">
            </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <p class="text-muted">All projects entered by you, or listing you as a project owner.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Budget</th>
                    <th>FY</th>
                    <th>Implementation</th>
                    <th>Status</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @my_projects.each do |project| %>
                      <tr>
                        <td><%= link_to project.program.name, project %>-<%= link_to project.id, project %></td>
                        <td><%= link_to project.name, project %></td>
                        <td><%= project.budget_requested %></td>
                        <td><%= project.fiscal_year %></td>
                        <td><%= project.implementation_status %></td>
                        <td><%= project.current_state.to_s.titleize %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>

