<%= simple_form_for @congressional_notification do |f| %>
    <%= f.hidden_field :name %>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Office</th>
    <th>Status</th>
    <th>Comments</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <%= f.simple_fields_for :clearances do |c| %>
      <tr>
        <td><%= c.input :name, :as => :fake, label: false %></td>
        <td><%= c.select(:clearance_status, Clearance.clearance_statuses.keys.map {|clearance_status| [clearance_status, clearance_status]}) %></td>
        <td><%= c.input :comments, label: false %></td>
        <td><%= c.input :clearance_date, :as => :fake, label: false %></td>
      </tr>
  <% end %>
  </tbody>
</table>
    <%= f.submit 'Update', :class => 'button-xs' %>
<% end %>

