<table class="table table-striped table-hover" id="filteredcnreport">
  <thead>
  <tr>
    <th>Name</th>
    <th style="width:100px">CN Number</th>
    <th>CN Projects</th>
    <th>Approval</th>
  </tr>
  </thead>

  <tbody>
  <% @congressional_notifications.each do |congressional_notification| %>
      <tr>
        <td><%= link_to congressional_notification.name, congressional_notification %></td>
        <td><%= congressional_notification.cn_number %></td>
        <td>
          <ul class="list-inline">
              <% congressional_notification.projects.each do |project| %>
                  <li>
                    <%= link_to(project) do %>
                        <span data-toggle="tooltip" title="<%= project.name %>"><%= project.program.name %>-<%= project.id %></span>
                    <% end %>
                  </li>
              <% end %>
          </ul>
        </td>
        <td><%= congressional_notification.current_state.to_s.titleize %></td>
      </tr>
  <% end %>
  </tbody>
</table>