<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bigger">Congressional Notification: <%= @congressional_notification.name %> <%= @congressional_notification.cn_number %></span>
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'congressional_notifications/cn_info/cn_status_info' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Projects Attached to this Congressional Notification
        <div class="pull-right">
          <% if current_user.role == 'budget' ||  current_user.admin? %>
              <%= link_to 'Edit', edit_congressional_notification_path(@congressional_notification), class: 'btn btn-default btn-xs' %>
          <% end %>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <ul class="list-inline">
          <% @congressional_notification.projects.each do |project| %>
              <li>
                <%= link_to(project) do %>
                    <span data-toggle="tooltip" title="<%= project.name %>"><%= project.program.name %>-<%= project.id %></span>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Clearances
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'congressional_notifications/cn_info/cn_clearances' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>

  <div class="col-md-4">


    <div class="panel panel-default">
      <div class="panel-heading">
        Actions
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'congressional_notifications/cn_info/cn_review_actions' %>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Comments
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/comments', :comment_entity => @congressional_notification %>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Documents
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/documents', :document_entity => @congressional_notification  %>
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
</div>






