<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bigger">Congressional Notification: <%= @congressional_notification.name %> <%= @congressional_notification.cn_number %></span>
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'cn_status_info' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>

<p>
  <strong>State:</strong>
  <%= @congressional_notification.current_state.to_s.titleize %>
</p>

<p>
  <strong>Name:</strong>
  <%= @congressional_notification.name %>
</p>

<p>
  <strong>Cn number:</strong>
  <%= @congressional_notification.cn_number %>
</p>

<p>
  <strong>Projects:</strong>
<ul>
  <% @congressional_notification.projects.each do |project| %>
      <li><%= link_to project.name, project %></li>
  <% end %>
</ul>
</p>

<p>
  <strong>Clearances:</strong>
<ul>
  <% @congressional_notification.clearances.each do |clearance| %>
      <li><%= clearance.name %> - <%= clearance.clearance_status %> - <%= clearance.clearance_date %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Attached Files:</strong>
<ul>
  <% @congressional_notification.attached_files.each do |attached_file| %>
      <li><%= link_to attached_file.name, attached_file.attachable_document.url %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Comments:</strong>
<ul>
  <% @congressional_notification.comments.each do |comment| %>
      <li><%= comment.comment_date %> - <%= comment.comments %> - <%= comment.user.name %> - <%= comment.user.role %> </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_congressional_notification_path(@congressional_notification) %> |
<%= link_to 'Back', congressional_notifications_path %>
