<div class="nested-fields">
  <%= f.input :name %>
  <%= f.input :budget_amount %>
  <%#= f.input :budgetable_id %>
  <% if f.object.budgetable_type == 'Implementer' %>
      <%= f.collection_select(:budgetable_id, Implementer.all, :id, :name) %>
      <%= f.input :budgetable_type, as: :hidden, input_html: { value: 'Implementer' } %>
  <% else %>
      <%= f.collection_select(:budgetable_id, Country.all, :id, :name) %>
      <%= f.input :budgetable_type, as: :hidden, input_html: { value: 'Country' } %>
  <% end %>

  <%= link_to_remove_association "remove", f %>
</div>