<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_date, as: :datepicker  %>
    <%= f.input :end_date, as: :datepicker %>
    <%= f.input :budget_requested %>
    <%= f.input :fiscal_year %>
    <%= f.input :objective %>
    <%= f.input :interest %>
    <%= f.input :law_enforcement %>
    <%= f.input :coordination %>
    <%= f.input :lessons_learned %>
    <%= f.input :sustainability %>
    <%= f.input :city_province %>
    <%= f.input :program_audience %>
    <%= f.input :reprogram %>
    <%= f.input :reprogram_comments %>
    <%= f.select(:implementation_status, Project.implementation_statuses.keys.map {|implementation_status| [implementation_status.titleize,implementation_status]}) %>
    <%= f.association :program %>
    <%= f.association :sub_accounts %>
    <%= f.association :user %>
    <%= f.input :is_archived %>
    <%= f.input :is_denied %>
    <%= f.input :is_active %>
    <%= f.association :countries %>
    <h3>Project Owners</h3>
    <div id="owners">
      <%= f.simple_fields_for :people do |person| %>
          <%= render 'person_fields', :f => person %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add owner', f, :people %>
      </div>
    </div>
    <h3>Budget Items</h3>
    <div id="budgetitems">
      <%= f.simple_fields_for :budget_items do |budget_item| %>
        <%= render 'budget_item_fields', :f => budget_item %>
      <% end %>
          <div class="links">
            <%= link_to_add_association 'add budget item', f, :budget_items %>
          </div>
    </div>
    <h3>Obligations</h3>
    <div id="obligations">
      <%= f.simple_fields_for :obligations do |obligation| %>
          <%= render 'obligation_fields', :f => obligation %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add obligation', f, :obligations %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
