<table class="table table-striped table-hover" id="filteredreport">
  <thead>
  <tr>
    <th style="width:70px">Program</th>
    <th style="width:30px">ID</th>
    <th>Title</th>
    <th style="width:30px">FY</th>
    <th style="width:90px">Requested</th>
    <th style="width:110px">Approval</th>
    <th style="width:60px">Status</th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.program.name %></td>
        <td><%= link_to project.id, project %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= project.fiscal_year %></td>
        <td><%= number_to_currency(project.budget_requested, precision: 0) %></td>
        <td><%= project.current_state.to_s.titleize %></td>
        <td><%= project.implementation_status %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= @projects.sum(:budget_requested) %>