<%= simple_form_for(@project) do |f| %>

      <%= f.hidden_field :name %>

    <div class="form-actions">
      <% if @project.preliminary_program_review? && ((current_user.role == 'reviewer' && current_user.in_project_region?(@project.id)) || current_user.admin?) %>
          <%= f.button :submit, 'Send to Legal', class: 'btn btn-default btn-xs' %>
          <%= f.button :submit, 'Request Changes', class: 'btn btn-default btn-xs' %>
          <%= f.button :submit, 'Deny Proposal', class: 'btn btn-default btn-xs' %>
      <% elsif @project.pre_legal_review? && (current_user.role == 'legal' || current_user.admin?) %>
          <%= f.button :submit, 'Send to Program', class: 'btn btn-default btn-xs' %>
          <%= f.button :submit, 'Pre-Clear Proposal', class: 'btn btn-default btn-xs' %>
      <% elsif @project.regional_review? && ((current_user.role == 'regional' && current_user.in_project_region?(@project.id)) || current_user.admin?) %>
          <%= f.button :submit, 'Send Comments to Program', class: 'btn btn-default btn-xs' %>
      <% elsif @project.secondary_program_review? && ((current_user.role == 'reviewer' && current_user.in_project_region?(@project.id)) || current_user.admin?) %>
          <%= f.button :submit, 'Approve Proposal', class: 'btn btn-default btn-xs' %>
          <%= f.button :submit, 'Deny Proposal', class: 'btn btn-default btn-xs' %>
      <% end %>
      <% if (current_user.role == 'reviewer' && current_user.in_project_region?(@project.id)) || (current_user.role == 'submitter' && current_user.project_owner?(@project.id) && @project.proposal_in_progress?) || current_user.admin? %>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default btn-xs' %>
      <% end %>
      <br>
    </div>
<% end %>
