<%= simple_form_for(@project, multipart: true) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :name, label: 'Project Name' %>
      <%= f.association :program %>
      <%= f.input :objective, label: 'Project Summary' %>
      <label>Project Owners</label>
      <div id="owners">
        <%= f.simple_fields_for :people do |person| %>
            <%= render 'person_fields', :f => person %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Project Owner', f, :people, class: 'btn btn-default btn-xs'  %>
        </div><br>
      </div>
      <%= f.input :description, label: 'Description of Project Proposed' %>
      <%= f.input :interest, label: 'Specify explicitly how this proposal advances US national security and foreign policy interests (CVE: Project Context/Rationale)' %>
      <%= f.input :law_enforcement, label: 'Specify explicitly how this activity supports law enforcement\'s ability to counter terrorism or efforts to counter terrorist financing (CVE: Law Enforcement Nexus - NADR funding only)' %>
      <%= f.input :coordination, label: 'What have the sponsors of the project done to coordinate this program with this interagency or multilateral partners? (CVE: Coordination)' %>
      <%= f.input :sustainability, label: 'Sustainability (if applicable)' %>
      <%= f.input :lessons_learned, label: 'Project Monitoring (CVE: Measuring Impact and Effectiveness)' %>
      <%= f.input :start_date, as: :datepicker, label: 'Start Date' %>
      <%= f.input :end_date, as: :datepicker, label: 'End Date' %>
      <%= f.association :countries, label: 'Countries Engaged' %>
      <h3>Imlementing Partners</h3>
      <div id="projectimplementers">
        <%= f.simple_fields_for :project_implementers do |project_implementer| %>
            <%= render 'project_implementer_fields', :f => project_implementer %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Implementer', f, :project_implementers %>
        </div>
      </div>
      <%= f.input :city_province, label: 'Neighborhood, City or Province (if applicable)' %>
      <%= f.input :program_audience, label: 'Program Audience' %>
      <%= f.association :funding_mechanisms, label: 'Funding Mechanism Type', input_html: { multiple: false }  %>
      <%= f.association :sub_accounts, label: 'Funding Sources' %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.input :budget_requested, label: 'Funding Amount Requested' %>
      <%= f.input :fiscal_year, label: 'Fiscal Year' %>
      <h3>Budget Items</h3>
      <div id="budgetitems">
        <%= f.simple_fields_for :budget_items do |budget_item| %>
            <%= render 'budget_item_fields', :f => budget_item %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add budget item', f, :budget_items %>
        </div>
      </div>
      <h3>Attached Files</h3>
      <div id="attached_files">
        <%= f.simple_fields_for :attached_files do |attached_file| %>
            <%= render 'attached_file_fields', :f => attached_file %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add document', f, :attached_files %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
