<%= simple_form_for(@project, multipart: true) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, label: 'Project Name' %>
      <%= f.association :program %>
      <%= f.input :objective, label: 'Project Summary' %>
      <label>Project Owners</label>
      <div id="owners">
        <table class="table table-bordered table-striped table-condensed table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Office</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="project_owners">
            <%= f.simple_fields_for :people do |person| %>
                <%= render 'projects/cocoon/person_fields', :f => person %>
            <% end %>
          </tbody>
        </table>
        <div class="links text-right">
          <%= link_to_add_association 'Add Project Owner', f, :people, :"data-association-insertion-node" => "tbody#project_owners", :"data-association-insertion-method" => "append", :partial => "projects/cocoon/person_fields", class: 'btn btn-default btn-xs'  %>
        </div><br>
      </div>
      <%= f.input :description, label: 'Description of Project Proposed' %>
      <%= f.input :interest, label: 'Specify explicitly how this proposal advances US national security and foreign policy interests (CVE: Project Context/Rationale)' %>
      <%= f.input :law_enforcement, label: 'Specify explicitly how this activity supports law enforcement\'s ability to counter terrorism or efforts to counter terrorist financing (CVE: Law Enforcement Nexus - NADR funding only)' %>
      <%= f.input :coordination, label: 'What have the sponsors of the project done to coordinate this program with this interagency or multilateral partners? (CVE: Coordination)' %>
      <%= f.input :sustainability, label: 'Sustainability (if applicable)' %>
      <%= f.input :lessons_learned, label: 'Project Monitoring (CVE: Measuring Impact and Effectiveness)' %>
      <%= f.input :start_date, as: :datepicker, label: 'Start Date:  ' %>
      <%= f.input :end_date, as: :datepicker, label: 'End Date:  ' %>
      <%= f.association :countries, label: 'Countries Engaged' %>
      <label>Implementing Partners</label>
      <div id="projectimplementers">
        <table class="table table-bordered table-striped table-condensed table-hover">
          <thead>
          <tr>
            <th>Implementer</th>
            <th>Details</th>
            <th>POC Name</th>
            <th>POC Email</th>
            <th>POC Phone</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="project_implementers">
        <%= f.simple_fields_for :project_implementers do |project_implementer| %>
            <%= render 'projects/cocoon/project_implementer_fields', :f => project_implementer %>
        <% end %>
          </tbody>
        </table>
        <div class="links text-right">
          <%= link_to_add_association 'Add Implementer', f, :project_implementers, :"data-association-insertion-node" => "tbody#project_implementers", :"data-association-insertion-method" => "append", :partial => "projects/cocoon/project_implementer_fields", class: 'btn btn-default btn-xs' %>
        </div><br>
      </div>
      <%= f.input :city_province, label: 'Neighborhood, City or Province (if applicable)' %>
      <%= f.input :program_audience, label: 'Program Audience' %>

      <%= f.simple_fields_for :project_funding_mechanisms do |project_funding_mechanism| %>
          <%= project_funding_mechanism.association :funding_mechanism, label: 'Funding Mechanism'  %>
      <% end %>

      <%= f.association :sub_accounts, label: 'Funding Sources' %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.input :budget_requested, label: 'Funding Amount Requested' %>
      <%= f.input :fiscal_year, label: 'Fiscal Year' %>
      <label>Budget Items</label>
      <div id="budgetitems">
        <table class="table table-bordered table-striped table-condensed table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Country/Org</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="budget_items">
            <%= f.simple_fields_for :budget_items do |budget_item| %>
                <%= render 'projects/cocoon/budget_item_fields', :f => budget_item %>
            <% end %>
          </tbody>
        </table>
        <div class="links text-right">
          <%= link_to_add_association 'add budget item', f, :budget_items, :"data-association-insertion-node" => "tbody#budget_items", :"data-association-insertion-method" => "append", :partial => "projects/cocoon/budget_item_fields", class: 'btn btn-default btn-xs' %>
        </div>
      </div>
      <h3>Attached Files</h3>
      <div id="attached_files">
        <table class="table table-bordered table-striped table-condensed table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>File</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="attached_files_list">
            <%= f.simple_fields_for :attached_files do |attached_file| %>
                <%= render 'projects/cocoon/attached_file_fields', :f => attached_file %>
            <% end %>
          </tbody>
        </table>
        <div class="links text-right">
          <%= link_to_add_association 'add document', f, :attached_files, :"data-association-insertion-node" => "tbody#attached_files_list", :"data-association-insertion-method" => "append", :partial => "projects/cocoon/attached_file_fields", class: 'btn btn-default btn-xs' %>
        </div>
      </div>
    </div>
<hr>
    <div class="form-actions text-right">

      <% if @project.draft? %>
          <%= f.button :submit, 'Save', class: 'btn btn-default btn-xs' %>
          <%= f.button :submit, 'Save and Submit for Review', class: 'btn btn-default btn-xs' %>
      <% else %>
          <%= f.button :submit, 'Update Project', class: 'btn btn-default btn-xs' %>
      <% end %>
      <%= link_to 'Cancel', @project, class: 'btn btn-default btn-xs' %>
    </div>
<% end %>
