<%= simple_form_for(@project) do |f| %>

      <%= f.hidden_field :name %>

    <div class="form-actions">
      <% if @project.preliminary_program_review? %>
          <%= f.button :submit, 'Send to Legal' %>
          <%= f.button :submit, 'Request Changes' %>
          <%= f.button :submit, 'Deny Proposal' %>
      <% elsif @project.pre_legal_review? %>
          <%= f.button :submit, 'Send to Program' %>
          <%= f.button :submit, 'Pre-Clear Proposal' %>
      <% elsif @project.regional_review? %>
          <%= f.button :submit, 'Send Comments to Program' %>
      <% elsif @project.secondary_program_review? %>
          <%= f.button :submit, 'Approve Proposal' %>
          <%= f.button :submit, 'Deny Proposal' %>
      <% end %>
      <%= link_to 'Edit', edit_project_path(@project) %>
      <br>
    </div>
<% end %>