<tr class="nested-fields">
  <td><%= f.collection_select(:implementer_id, Implementer.all, :id, :name) %>
  <td><%= f.input :description, label: false %></td>
  <td><%= f.input :poc_name, label: false %></td>
  <td><%= f.input :poc_email, label: false %></td>
  <td><%= f.input :poc_phone, label: false %></td>
  <td><%= link_to_remove_association "X", f, class: 'btn btn-default btn-xs' %></td>
</tr>