<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bigger"><%= @project.program.name %>-<%= @project.id %>: <%= @project.name %></span>
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'project_status_info' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Details
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'project_core_info' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Documents
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'project_documents' %>
      </div>
      <!-- /.panel-body -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Comments
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'project_comments' %>
      </div>
      <!-- /.panel-body -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Add Comment
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'comment_form' %>
      </div>
      <!-- /.panel-body -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Actions
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'project_review_actions' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>







<p>
  <strong>CNs:</strong>
<ul>
  <% @project.congressional_notifications.each do |cn| %>
      <li><%= link_to cn.cn_number, cn %> </li>
  <% end %>
</ul>
</p>


<p>
  <strong>Obligations:</strong>
    <ul>
      <% @project.obligations.each do |obligation| %>
          <li><%= obligation.obligation_number %> - <%= obligation.obligation_amount %> - <%= obligation.obligation_date %> </li>
      <% end %>
    </ul>
</p>







