<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="bigger"><%= @project.program.name %>-<%= @project.id %>: <%= @project.name %></span>
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/project_status_info' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Details
        <div class="pull-right">
          <% if (current_user.role == 'reviewer' && (current_user.in_project_region?(@project.id)) || current_user.project_owner?(@project.id)) || (current_user.role == 'submitter' && current_user.project_owner?(@project.id) && @project.proposal_in_progress?) || current_user.admin? %>
              <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default btn-xs' %>
          <% end %>

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/project_core_info' %>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-md-4">


    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Actions
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/project_review_actions' %>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Comments
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/comments', :comment_entity => @project %>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list-alt fa-fw"></i> Documents
        <div class="pull-right">

        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= render 'projects/project_info/documents', :document_entity => @project  %>
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
</div>







<p>
  <strong>CNs:</strong>
<ul>
  <% @project.congressional_notifications.each do |cn| %>
      <li><%= link_to cn.cn_number, cn %> </li>
  <% end %>
</ul>
</p>


<p>
  <strong>Obligations:</strong>
    <ul>
      <% @project.obligations.each do |obligation| %>
          <li><%= obligation.obligation_number %> - <%= obligation.obligation_amount %> - <%= obligation.obligation_date %> </li>
      <% end %>
    </ul>
</p>







