<p id="notice"><%= notice %></p>


<p>
  <strong>State:</strong>
  <%= @project.current_state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Budget requested:</strong>
  <%= @project.budget_requested %>
</p>

<p>
  <strong>Fiscal year:</strong>
  <%= @project.fiscal_year %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @project.objective %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @project.interest %>
</p>

<p>
  <strong>Law enforcement:</strong>
  <%= @project.law_enforcement %>
</p>

<p>
  <strong>Coordination:</strong>
  <%= @project.coordination %>
</p>

<p>
  <strong>Lessons learned:</strong>
  <%= @project.lessons_learned %>
</p>

<p>
  <strong>Sustainability:</strong>
  <%= @project.sustainability %>
</p>

<p>
  <strong>City province:</strong>
  <%= @project.city_province %>
</p>

<p>
  <strong>Program audience:</strong>
  <%= @project.program_audience %>
</p>

<p>
  <strong>Reprogram:</strong>
  <%= @project.reprogram %>
</p>

<p>
  <strong>Reprogram comments:</strong>
  <%= @project.reprogram_comments %>
</p>

<p>
  <strong>Implementation status:</strong>
  <%= @project.implementation_status %>
</p>

<p>
  <strong>Program:</strong>
  <%= @project.program.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong>Is archived:</strong>
  <%= @project.is_archived %>
</p>

<p>
  <strong>Is denied:</strong>
  <%= @project.is_denied %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @project.is_active %>
</p>

<p>
  <strong>Project Owners:</strong>
<ul>
  <% @project.people.each do |person| %>
      <li><%= person.name %>  </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Countries:</strong>
<ul>
  <% @project.countries.each do |country| %>
      <li><%= country.name %>  </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Sub Accounts:</strong>
<ul>
  <% @project.sub_accounts.each do |sa| %>
      <li><%= sa.name %>  </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Implementing Partners:</strong>
<ul>
  <% @project.implementers.each do |implementer| %>
      <li><%= implementer.name %>  </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Budget Items:</strong>
<ul>
  <% @project.budget_items.each do |budget_item| %>
      <li><%= budget_item.name %> - <%= budget_item.budget_amount %> - <%= budget_item.budgetable.name %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>CNs:</strong>
<ul>
  <% @project.congressional_notifications.each do |cn| %>
      <li><%= link_to cn.cn_number, cn %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Funding Mechanisms:</strong>
<ul>
  <% @project.funding_mechanisms.each do |fm| %>
      <li><%= fm.name %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Obligations:</strong>
    <ul>
      <% @project.obligations.each do |obligation| %>
          <li><%= obligation.obligation_number %> - <%= obligation.obligation_amount %> - <%= obligation.obligation_date %> </li>
      <% end %>
    </ul>
</p>

<p>
  <strong>Clearances:</strong>
<ul>
  <% @project.clearances.each do |clearance| %>
      <li><%= clearance.name %> - <%= clearance.clearance_status %> - <%= clearance.clearance_date %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Attached Files:</strong>
<ul>
  <% @project.attached_files.each do |attached_file| %>
      <li><%= link_to attached_file.name, attached_file.attachable_document.url %> </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Comments:</strong>
<ul>
  <% @project.comments.each do |comment| %>
      <li><%= comment.comment_date %> - <%= comment.comments %> - <%= comment.user.name %> - <%= comment.user.role %> </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<br>

<%= simple_form_for @project,
                    :url => url_for(:action => 'state', :controller => 'projects'),
                    :method => 'post' do |f| %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>