<div class="row">
  <div class="col-md-3 text-center">
    <% if @project.is_denied %>
        <span class="text-danger"><strong><i class="fa fa-ban fa-fw"></i>Denied</strong></span>
    <% elsif @project.is_archived %>
        <span class="text-warning"><strong><i class="fa fa-archive fa-fw"></i>Archived</strong></span>
    <% end %>
    <% if @project.is_renotified %>
        <br><span class="text-info"><strong><i class="fa fa-repeat fa-fw"></i>Renotified</strong></span>
    <% end %>
    <% if @project.is_funding_modified %>
        <br><span class="text-muted"><strong><i class="fa fa-edit fa-fw"></i>Funding Modification</strong></span>
    <% end %>
  </div>
  <div class="col-md-3 text-center">
    <label>Approval Status:</label><br>
    <%= @project.current_state.to_s.titleize %>
  </div>
  <div class="col-md-3 text-center">
    <label>Implementation Status:</label><br>
    <%= @project.implementation_status %>
  </div>
  <div class="col-md-3 text-center">
    <label>Entered By:</label><br>
    <%= @project.user.name %>
  </div>

</div>
<hr>

<div class="row">
  <div class="col-md-12 text-center">
    <ol class="progtrckr" data-progtrckr-steps="<%= @states.count %>"><!--
      <% @states.each do |s| %>
        <% check_state = s.to_s + "?" %>
          --><li  class=<% if @project.current_state > s %>"progtrckr-done">
    <% else %>"progtrckr-todo">
    <% end %>

    <%= s.to_s.titleize %></li><!--
      <% end %>
      -->
    </ol>
  </div>
</div>